


.footer-list {
    display: flex;
    justify-content: center;
    .footer-item {
        width: 100px;
        margin: 50px 40px 0 40px;
     
    }
}

footer p{
    padding-top: 10px;
    font-size: 18px;
text-align: center;


}

footer .copyright {
text-align: center;
margin-top: 20px;

}
